.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.h1 {
  height: 120px;
  font-family: var(--global-font-family);
  font-size: 4.5em;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.p {
  margin-top: 30px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.formField {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.radio {
  margin-right: 20px;
}

.screenShots {
  height: 20px;
}

.formBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  margin-bottom: 50px;
}

.anima {
  position: relative;
  height: 30px;
}

.anima:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #353535;
  transform-origin: bottom center;
  transition: transform 0.25s ease-out;
}

.anima:hover:after {
  transform: scaleX(1);
  transform-origin: bottom center;
}
