.shots {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.review {
    display: flex;
    border: 1px solid greenyellow;
    width:800px;

}

.radios {
    display: flex;
}